<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <title>Whatsapp Clone | login</title>
</head>

<body>

    <div class="signinContainer">
        <p class="signin">Log in to Whatsapp</p>
        <form class="form" action="/login" method="post">
            <input type="username" name="username" placeholder="Enter your username" type="text" class="input" required>
            <input type="password" name="password" placeholder="Enter your password" type="password" class="input"
                required>
            <button class="submit" type="submit">log in</button>
        </form>
        <div class="login">
            <p>don't have an account?&nbsp;</p>
            <a href="/"> sign up </a>
        </div>
    </div>

</body>

</html>